.hamburger-menu {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: var(--primary); 
  border-radius: 2px;
}

.mobile-nav-window { 
  overflow-x: hidden; 
  position: absolute; 
  height: 100%;
  width: 100%;
  padding: 1rem; 
  top: 0; 
  right: 0; 
  background: var(--background);  
  z-index: 1; 
}

.nav-header { 
  display: flex; 
  align-items: center; 
  margin: 1.2rem 0; 
  justify-content: space-between; 
}

.close-button { 
  font-size: 2rem;
  background-color: transparent; 
  width: 40px; 
  height: 40px; 
  border: 2px solid #4a4c4f;
  border-radius: 40%; 
}

.mobile-nav-links { 
  margin-top: 2rem; 
  display: flex; 
  flex-direction: rows; 
  flex-wrap: wrap; 
}

.mobile-nav-link { 
  font-size: 1.2rem; 
  width: 100%; 
  font-weight: 600; 
  padding: .75rem 1rem; 
  margin: .25rem 0; 
  border-radius: 10px; 
}

.mobile-nav-link:hover, .mobile-nav-link:focus { 
  background: #F2F2F2; 
}